<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054088997678-s26llrtag6p2pisn2v0degorlcqm4v9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054088997678-s26llrtag6p2pisn2v0degorlcqm4v9d</string>
	<key>API_KEY</key>
	<string>AIzaSyANMhFUflQjYH6XbldKormZPPsvWF9JWSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1054088997678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.DineAround</string>
	<key>PROJECT_ID</key>
	<string>dine-49174</string>
	<key>STORAGE_BUCKET</key>
	<string>dine-49174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054088997678:ios:0ba8d550937fa2cb</string>
	<key>DATABASE_URL</key>
	<string>https://dine-49174.firebaseio.com</string>
</dict>
</plist>